.first-section
    min-height: 100vh
    display: flex
    position: relative
    justify-content: center
    align-content: center

    .totalCentered
        z-index: 2
        background-color: #fff
        display: flex
        align-self: center
        flex-wrap: wrap
        flex-direction: column
        text-align: center
        padding: 2rem 3rem
        opacity: 1